@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

p, h1, h2, h3, h4, h5, h6, ul, li, img, section, main, figure, article, aside, footer, header {
  padding: 0;
  margin: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/*

	PRIMARY STYLES

*/
html {
  font: 62.5% 'Nunito', sans-serif;
  min-width: 320px; }

body {
  background-color: #171717;
  font-size: 1.6em;
  text-align: center; }

a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-size: 3.6em;
  line-height: 80%; }

h2 {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 42px; }

h3 {
  font-size: 1.7rem; }

h4 {
  text-transform: uppercase;
  font-size: .9rem;
  color: #ed145b; }

h5 {
  font-size: 4rem;
  color: #ed145b; }

h6 {
  text-transform: uppercase; }

img {
  max-width: 100%; }

nav {
  width: 100%; }

li {
  list-style: none; }

p {
  line-height: 20px; }

/*

	DISCRETE OBJECT STYLES

*/
.button,
button {
  border: 0;
  border-radius: 30px;
  display: block;
  font-size: 10px;
  font-weight: 800;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 12px 30px;
  text-transform: uppercase;
  width: 145px; }

.shadowbox,
.shadowboxbig {
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  -o-transition: box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default; }

.shadowbox:hover {
  -webkit-box-shadow: 0 0 15px #aaa;
  box-shadow: 0 0 15px #aaa; }

.shadowboxbig:hover {
  -webkit-box-shadow: 0 10px 40px 6px #ddd;
  box-shadow: 0 10px 40px 6px #ddd; }

.thinner {
  font-weight: 600;
  letter-spacing: 1px; }

a.button,
button {
  -webkit-transition: color .3s, background-color .3s, -webkit-box-shadow .3s;
  transition: color .3s, background-color .3s, -webkit-box-shadow .3s;
  -o-transition: color .3s, background-color .3s, box-shadow .3s;
  transition: color .3s, background-color .3s, box-shadow .3s;
  transition: color .3s, background-color .3s, box-shadow .3s, -webkit-box-shadow .3s; }
  a.button:hover,
  button:hover {
    background-color: #f1f8fc;
    -webkit-box-shadow: 0 0 15px #17171777;
    box-shadow: 0 0 15px #17171777;
    color: #666; }

em,
p.serif {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400; }

p.subheadertext {
  padding-top: 15px;
  font-size: 1.2rem;
  line-height: 20px; }

.blogtext,
.contactcaption,
.footer,
.missioncaption,
.nametitle,
.servicetext {
  font-size: 1.2rem;
  font-weight: 600; }

/*

	BACKGROUNDS & COLOURS

*/
.black {
  background-color: #171717;
  color: #fff; }

.darkgreytext {
  color: #666; }

.grey {
  background-color: #f1f8fc;
  color: #171717; }

.greytext {
  color: #aaa; }

.purple,
a.purpleoutline:hover {
  background-color: #6e45e2;
  color: #fff; }

.purpleoutline {
  border: 1px solid #6e45e2;
  background-color: transparent;
  color: #fff; }

.rose {
  background-color: #ed145b;
  color: #fff; }

.rosetransparent {
  background-color: rgba(237, 20, 91, 0.8);
  color: #fff; }

.white {
  background-color: #fff;
  color: #171717; }

.whitetext {
  color: #fff; }

/*

	SKIP BOX

*/
.skipbox {
  position: absolute;
  left: calc(50% - 100px);
  top: -100px;
  z-index: 999;
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 200px; }

.skipbox:focus {
  top: 0px; }

/*

  HEADER DIMENSIONS - Totally impractical but for the sake of accuracy w/ the PSD which has inconsistent dimensions

*/
.head_x-small {
  max-width: 355px;
  margin: 0 auto 35px; }

.head_small {
  max-width: 420px;
  margin: 0 auto 35px; }

.head_med {
  max-width: 510px;
  margin: 0 auto; }

.head_large {
  max-width: 610px;
  margin: 0 auto; }

/*

  CONTAINERS

*/
.centercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 100%;
  margin: 0 auto; }

.contained {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px 20px;
  width: 100%; }

.contentwidth {
  max-width: 930px; }

.sectionpadding {
  padding: 80px 0; }

.sectionpaddinghalf {
  padding: 40px 0; }

.sectionseparator {
  padding-top: 65px;
  margin-bottom: 10px;
  position: relative; }
  .sectionseparator::before {
    border-left: thin solid;
    content: "";
    height: 20px;
    left: 50%;
    position: absolute;
    top: 20px; }

.simplecontainer {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  position: relative; }

/*

  MOBILE BAR

*/
.mobileNavButton {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 100;
  right: 25px;
  top: 10px;
  display: none;
  padding: 8px 0;
  cursor: pointer;
  background-color: #17171777;
  border-radius: 10px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }

.mobileNavButtonClick {
  background-color: transparent; }

.mobileBar {
  width: 35px;
  border-bottom: 4px solid #f1f8fc; }

/* 	CLASSES TOGGLED VIA JAVASCRIPT	*/
.bar1Click {
  -webkit-animation: navClickAnimBar1 ease-in-out 1s;
  animation: navClickAnimBar1 ease-in-out 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.bar2Click {
  -webkit-animation: navClickAnimBar2 ease-in-out 1s;
  animation: navClickAnimBar2 ease-in-out 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-image: url("../assets/navarrow.svg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position-x: 62.5%; }

.bar3Click {
  -webkit-animation: navClickAnimBar3 ease-in-out 1s;
  animation: navClickAnimBar3 ease-in-out 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.mobileNavButtonClick,
.bar1Click,
.bar2Click .bar3Click {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.mobileNavButtonClick {
  -webkit-animation: navClickAnim ease-in-out 1s;
  animation: navClickAnim ease-in-out 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/*

	HEADER

*/
.head {
  background-blend-mode: normal;
  background-image: -webkit-linear-gradient(40deg, rgba(145, 180, 255, 0.75) 20%, rgba(125, 150, 255, 0.75) 40%, rgba(255, 105, 195, 0.75) 90%), url(../assets/image-1.jpeg);
  background-image: -o-linear-gradient(40deg, rgba(145, 180, 255, 0.75) 20%, rgba(125, 150, 255, 0.75) 40%, rgba(255, 105, 195, 0.75) 90%), url(../assets/image-1.jpeg);
  background-image: linear-gradient(50deg, rgba(145, 180, 255, 0.75) 20%, rgba(125, 150, 255, 0.75) 40%, rgba(255, 105, 195, 0.75) 90%), url(../assets/image-1.jpeg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: background-position .8s;
  -o-transition: background-position .8s;
  transition: background-position .8s; }

#home {
  color: #fff; }

.headertext {
  margin: 190px 0 150px;
  max-width: 62%;
  padding: 0 40px; }
  .headertext .button {
    margin: 30px auto; }

.headermaintext {
  line-height: 60px; }

.headertextcaption {
  margin: 10px auto; }

.logo {
  max-width: 100px;
  padding: 35px 8px;
  height: 100px; }

.navcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.mainheadernav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.navlinks {
  font-size: .68em;
  font-weight: 600;
  padding: 6px 20px;
  position: relative; }
  .navlinks::before {
    border-left: thin solid #fff;
    content: "";
    height: 40px;
    left: 50%;
    position: absolute;
    top: -85px;
    -webkit-transition: top .5s, opacity .5s;
    -o-transition: top .5s, opacity .5s;
    transition: top .5s, opacity .5s;
    width: 0;
    opacity: 0; }

.cagelink {
  -webkit-transition: background-color .3s, color .3s, text-shadow .3s;
  -o-transition: background-color .3s, color .3s, text-shadow .3s;
  transition: background-color .3s, color .3s, text-shadow .3s; }
  .cagelink:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 1px #000; }

.scrolldown {
  font-size: 13px;
  margin-bottom: 20px; }
  .scrolldown:hover {
    cursor: default; }
  .scrolldown p {
    line-height: 12px; }
    .scrolldown p:nth-child(1) {
      font-size: 9px;
      font-weight: 800;
      letter-spacing: 2px;
      padding: 25px;
      text-transform: uppercase;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .scrolldown p:nth-child(2) {
      opacity: .9; }
    .scrolldown p:nth-child(3) {
      opacity: .6; }
    .scrolldown p:nth-child(4) {
      opacity: .3; }

.fadefull {
  color: transparent; }

.searchlang {
  position: relative;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px; }
  .searchlang i {
    font-size: 13px;
    padding: 13px; }
  .searchlang::after {
    content: 'EN';
    position: absolute;
    right: 8px;
    top: 42%;
    font-size: 10px; }

.langicon {
  width: 17px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 1px 30px 0 0; }

.headercenteritems {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.devsignature {
  -webkit-transform: rotate(-90deg) translateY(-10px);
  -ms-transform: rotate(-90deg) translateY(-10px);
  transform: rotate(-90deg) translateY(-10px);
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  font-size: 1.2rem;
  text-align: left; }

.sigcontainer {
  position: relative;
  width: 100%; }

.signaturetext {
  position: absolute;
  width: 150px; }
  .signaturetext:nth-child(1) {
    top: -10px; }
  .signaturetext:nth-child(2) {
    top: 10px; }

.styleselect {
  font-size: 1.3rem;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .styleselect p {
    line-height: 26px;
    width: 40px; }

.styleselected {
  position: relative; }
  .styleselected::before {
    border-right: #fff thin solid;
    content: "";
    display: inline-block;
    position: absolute;
    height: 2em;
    left: 49.5%;
    bottom: 5%;
    -webkit-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    transform: rotate(65deg); }

/*

  MEDIA QUERIES

*/
/* Have a line slide down links on hover for as long as it makes sense */
@media only screen and (min-width: 1024px) {
  .mainheadernav a:hover .navlinks::before {
    opacity: 1;
    top: -50px; } }

/* At lower width, collapse and change to a simple colour change on hover */
@media only screen and (max-width: 1023px) {
  .navbox {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%; }
  .mainheadernav {
    width: 95%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .mainheadernav a {
      -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
      -webkit-transition: background-color .3s, color .3s, text-shadow .3s;
      -o-transition: background-color .3s, color .3s, text-shadow .3s;
      transition: background-color .3s, color .3s, text-shadow .3s; }
      .mainheadernav a:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: #a2a6f2;
        text-shadow: 0 0 1px #000; }
  .navlinks {
    font-size: 1.35rem;
    font-weight: 800;
    padding: 8px 0; }
  .logo {
    max-width: 125px;
    padding: 15px 8px;
    height: 70px; }
  .searchlang {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    height: 70px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .searchlang::after {
      right: 12px; }
  .headertext {
    max-width: 70%; }
  .headercenteritems {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .headercenteritems .headermaintext {
      font-size: 4rem;
      line-height: 45px; }
  nav {
    background-color: rgba(0, 0, 0, 0.2); }
  .navcontainer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .head_med {
    max-width: 90%; } }

@media only screen and (max-width: 830px) {
  .navlinks {
    font-size: 1.15rem; } }

@media only screen and (max-width: 768px) {
  header {
    overflow: hidden; }
  .navbox {
    position: fixed;
    border-bottom-left-radius: 10px;
    -webkit-transition: right .5s;
    -o-transition: right .5s;
    transition: right .5s;
    height: 100vh;
    padding-bottom: 20vh;
    top: 0;
    background-color: rgba(10, 10, 12, 0.99);
    right: -100%;
    z-index: 10; }
  .mobileNavButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 15px; }
  .navboxClick {
    right: 0; }
  .navcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80px; }
  .mainheadernav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 100px 0 0 0;
    border-bottom-left-radius: 20px;
    padding-top: 0;
    height: 80vh; }
    .mainheadernav a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .mainheadernav a:hover {
        background-color: unset; }
    .mainheadernav .navlinks {
      font-size: 2.5rem;
      background-image: url(../assets/arrow.svg);
      background-size: .5em;
      background-repeat: no-repeat;
      background-position: 15px 50%;
      width: 250px;
      margin: 0;
      padding: 0; }
  .searchlang {
    height: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 80px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .searchlang::after {
      right: 45px;
      top: 58%; }
    .searchlang i {
      padding: 7px; }
    .searchlang .langicon {
      margin: 0; }
  .logo {
    max-width: 125px;
    padding: 8px 0 2px;
    height: 40px; }
  .headercenteritems {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .devsignature {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .headertext {
    max-width: 100%;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .styleselect {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

@media only screen and (max-width: 1120px) {
  .head {
    background-position: left; } }

@media only screen and (max-width: 650px) {
  .head {
    background-position: right; } }

/*

	FEATURED

*/
.featured {
  padding-bottom: 200px; }
  .featured .contained {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .featured img {
    display: block;
    margin: 0 auto;
    width: 40px; }

.featuredvideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 1400px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 70px; }
  .featuredvideo video {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 50px -5px #171717;
    box-shadow: 0 0 50px -5px #171717;
    max-width: 565px !important;
    min-width: 350px; }

.playbutton {
  background-image: url(../assets/Icons/videoplay.svg), url(../assets/Icons/videoplayhover.svg);
  background-size: contain;
  height: 50px;
  position: absolute;
  width: 50px; }
  .playbutton:hover {
    background-image: url(../assets/Icons/videoplayhover.svg); }

.playvid {
  display: none; }

/*

	MISSION

*/
.mission {
  padding-top: 320px;
  padding-bottom: 55px; }
  .mission h2 {
    padding: 0 35px 20px; }

.missionbuttons {
  padding: 0;
  margin-top: 30px;
  max-width: 320px;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

/*

	SERVICES

*/
.services {
  padding-bottom: 30px; }
  .services .centercontainer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px; }

.servicesboxes {
  margin: 10px 20px;
  min-height: 200px;
  min-width: 250px;
  padding: 20px;
  text-align: left;
  width: calc(33% - 40px); }

.serviceimg {
  width: 35px; }

.servicetext {
  line-height: 20px; }

/*

	CALLBACK

*/
.cbform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.callback {
  background-image: url(../assets/image-3.jpeg);
  background-size: cover; }
  .callback .centercontainer {
    margin: 0 auto;
    max-width: 600px; }
  .callback .sectionseparator::before {
    color: #fff; }
  .callback button {
    margin-top: 15px; }

.callbackdrop,
.inputtext {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 0;
  border-radius: 30px;
  font-size: 11px;
  font-weight: 600;
  padding: 12px 14px;
  text-transform: uppercase;
  width: 100%; }

.callbackdrop {
  background-image: url(../assets/Icons/arrow.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  font-size: 1rem;
  height: 100%; }
  .callbackdrop:focus {
    outline-color: rgba(255, 255, 255, 0.3); }

.inputtext:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.1); }

.callbackinputs {
  position: relative;
  width: 50%;
  padding: 10px;
  min-width: 250px; }

/* ORDER OF FOLLOWING STYLES MUST NOT CHANGE */
.inputtext + label {
  color: #6e45e2; }

.callbackinputs:focus-within label.inputtext,
.inputtext + label {
  position: absolute;
  left: 25px;
  pointer-events: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  top: 44px; }

.inputtext + label {
  /* Fallback for browsers that don't support placeholder-shown */
  top: 44px;
  opacity: 1; }

.inputtext:placeholder-shown + label {
  top: 18px;
  opacity: .5;
  color: #fff; }

.callbackinputs:focus-within label {
  opacity: 1;
  top: 44px; }

/* The above has the input's label (which substitutes a blank placeholder) drop down when the input has focus,
and stay down when the empty placeholder is no longer being rendered (when the field has something typed in it)
so the input is always clearly marked, for accessibility's sake, while keeping with the target design! */
/*

	SUMMARY

*/
.summary {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left; }
  .summary .button {
    text-align: center;
    margin-top: 30px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 10px;
    font-size: .9rem; }

.summarytext {
  -ms-flex-preferred-size: calc(50% - 10px);
  flex-basis: calc(50% - 10px);
  font-size: 90%; }

.summarytextcaption {
  font-size: 1.2rem;
  padding-top: 15px; }

.summarychart {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 0;
  margin-left: 10px;
  position: relative;
  height: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.chartobjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute; }

.chartline {
  border-left: #fff thin solid;
  position: absolute;
  bottom: 11.1%;
  left: 68.2%;
  height: 73.6%; }

.chartpoints {
  position: absolute;
  left: 67.5%;
  width: 1.6%;
  height: calc(1.6%*(600/385));
  /* (proportional height value) * (the aspect ratio of the chart image) */
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 .1em #fff;
  box-shadow: 0 0 0 .1em #fff; }

.point1 {
  bottom: 27.6%;
  background-color: #d59; }

.point2 {
  bottom: 50.8%;
  background-color: #34d; }

.point3 {
  bottom: 83.6%;
  background-color: #4df; }

.summarynumbers {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  padding-top: 40px;
  -ms-flex-item-align: start;
  align-self: flex-start; }
  .summarynumbers h3 {
    font-size: .9em;
    line-height: 20px; }
  .summarynumbers h5 {
    font-size: 2.6em; }

p.summarycaption {
  font-size: .65em;
  font-weight: 600;
  line-height: 15px;
  padding-top: 5px; }

/*

	GALLERY

*/
.project {
  padding-top: 80px; }
  .project .contained {
    max-width: 120px;
    margin: 20px; }

.gallery,
.project .centercontainer {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.cross::after {
  border-top: thin solid;
  content: "";
  height: 0;
  left: calc(50% - 15px);
  position: absolute;
  top: calc(33% + 15px);
  width: 30px; }

.cross::before {
  border-left: thin solid;
  content: "";
  height: 30px;
  left: 50%;
  position: absolute;
  top: 33%;
  width: 0; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.galleryimg {
  margin: 0;
  overflow: hidden; }
  .galleryimg figcaption {
    -ms-flex-line-pack: center;
    align-content: center;
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    line-height: 30px;
    opacity: 0;
    padding-top: 40px;
    position: absolute;
    top: 0;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    width: 100%; }
  .galleryimg img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .galleryimg p {
    font-size: 1rem; }
  .galleryimg:hover figcaption {
    opacity: 1; }

.landscape,
.portrait {
  max-height: 380px;
  /* Firefox and Edge seem to need this to fit things properly */
  position: relative; }

.landscape {
  width: 40%; }

.portrait {
  width: 20%; }

/*

	TEAM

*/
.teamcontainer {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .teamcontainer figure:nth-of-type(1) img {
    -webkit-transform: scale(1.2) translateX(10px);
    -ms-transform: scale(1.2) translateX(10px);
    transform: scale(1.2) translateX(10px); }
  .teamcontainer figure:nth-of-type(1n+2) img {
    -webkit-transform: scale(1.2) translateY(24px);
    -ms-transform: scale(1.2) translateY(24px);
    transform: scale(1.2) translateY(24px); }

.teampic {
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  color: #fff; }
  .teampic img {
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .teampic figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    line-height: 30px;
    position: absolute;
    top: 0;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    width: 100%;
    opacity: 0; }
  .teampic:hover figcaption {
    opacity: 1; }

.teamprofile {
  width: 270px;
  padding: 0; }

.names {
  color: #ed145b;
  margin: 5px 0; }

.icons {
  position: absolute;
  top: 45%; }
  .icons i {
    min-width: 35px;
    cursor: pointer;
    color: #ddd; }
    .icons i:hover {
      text-shadow: 0 0 12px #fff;
      color: #fff; }

.stats,
.statscontainer {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.statscontainer {
  width: calc(50% - 40px);
  height: 55px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-weight: 800; }
  .statscontainer p {
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-transform: capitalize;
    font-size: 1.2rem; }

.bar,
.barfill {
  border-radius: 10px;
  overflow: hidden; }

.bar {
  background-color: #f1f8fc;
  width: 100%;
  position: relative;
  height: 7px; }

.barfill {
  background-image: -webkit-gradient(linear, left top, right top, from(#ed145b), to(#6e45e2));
  background-image: -webkit-linear-gradient(left, #ed145b, #6e45e2);
  background-image: -o-linear-gradient(left, #ed145b, #6e45e2);
  background-image: linear-gradient(90deg, #ed145b, #6e45e2);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0; }

/*

	CLIENTS

*/
.clients {
  padding: 160px 0 110px; }

.clientquote h2 {
  width: 95%; }

.quotebox h2 {
  font-size: 1.3em;
  line-height: 30px;
  padding: 0;
  -webkit-transform: skewX(-5deg);
  -ms-transform: skewX(-5deg);
  transform: skewX(-5deg);
  position: relative; }

.quotebox h4 {
  color: #fff;
  letter-spacing: 2px; }

.quotebox .serif,
.quotebox h4 {
  font-size: 1rem; }

.quotebox::before {
  content: "“";
  font-size: 20rem;
  position: absolute;
  left: calc(50% - 40px);
  top: -145px;
  opacity: .5; }

.clientlogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 100%;
  padding: 0 15%; }
  .clientlogos a {
    -ms-flex-negative: 1;
    flex-shrink: 1; }
  .clientlogos img {
    margin: 10px 40px;
    width: 100px; }

.quoteselect {
  font-size: 1.8rem;
  letter-spacing: 5px;
  padding: 20px 0; }

/*

	BLOG

*/
.blog {
  height: 100%;
  padding-bottom: 30px; }

.blogs {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.postericon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block; }

.pic1 {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.pic3 {
  -webkit-transform: scale(2.6) translate(-1px, 2px);
  -ms-transform: scale(2.6) translate(-1px, 2px);
  transform: scale(2.6) translate(-1px, 2px); }

.blogcontent,
.blogpost {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blogpost {
  border-radius: 5px;
  overflow: hidden;
  margin: 12px;
  background: #fff;
  text-align: left;
  min-width: 200px;
  width: calc((100%/3) - 24px);
  padding: 0; }

.blogpost:hover h3,
.poster:hover {
  color: #ed145b; }

.blogcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 25px;
  min-height: 185px;
  line-height: 15px; }
  .blogcontent h3 {
    margin: 5px 0; }

.poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.1rem; }
  .poster p {
    padding-left: 10px; }

/*

	CONTACT

*/
.inputtextwhite {
  background-color: #f1f8fc;
  border: 0;
  border-radius: 30px;
  color: #555;
  font-size: 10px;
  font-weight: 600;
  padding: 10px 14px;
  text-transform: uppercase;
  width: 100%; }
  .inputtextwhite:focus {
    outline: 0;
    background-color: #aaa; }

.contactinput {
  position: relative;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  font-size: 12px; }

.contactbox {
  text-align: left;
  width: 46%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 240px; }
  .contactbox h2 {
    font-size: 2.5rem;
    line-height: 30px; }

.contactcaption {
  padding-top: 15px;
  line-height: 20px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.contactForm {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.socmediabtns,
.subscribebutton {
  min-height: 30px; }

.subscribebutton button {
  width: 110px;
  margin-left: 10px;
  height: 30px;
  font-size: .8rem;
  padding: 0; }

.contact .centercontainer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.socmediabtns {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 1.1rem; }
  .socmediabtns i {
    color: #666;
    background-color: #f1f8fc;
    text-align: center;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    padding-top: 8px; }
    .socmediabtns i:hover {
      color: #fff;
      background-color: #ed145b;
      -webkit-box-shadow: 3px 3px 10px gray;
      box-shadow: 3px 3px 10px gray; }
  .socmediabtns a {
    height: 30px;
    width: 30px;
    margin-right: 10px; }

/* ORDER OF FOLLOWING STYLES MUST NOT CHANGE */
.inputtextwhite + label {
  color: #6e45e2;
  font-weight: 800; }

.contactinput:focus-within label.inputtextwhite,
.inputtextwhite + label {
  position: absolute;
  left: 20px;
  pointer-events: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  top: 33px; }

.inputtextwhite + label {
  /* Fallback for browsers that don't support placeholder-shown */
  top: 33px;
  opacity: 1; }

.inputtextwhite:placeholder-shown + label {
  top: 8px;
  opacity: .5;
  color: #000; }

.contactinput:focus-within label {
  opacity: 1;
  top: 33px; }

/* Have a line slide down links on hover for as long as it makes sense */
@media only screen and (min-width: 1024px) {
  .mainheadernav a:hover .navlinks::before {
    opacity: 1;
    top: -50px; } }

/*

  MEDIA QUERIES

*/
@media only screen and (max-width: 1023px) {
  .cross::after {
    top: calc(15% + 15px); }
  .cross::before {
    top: 15%; }
  .galleryimg figcaption {
    height: 30%;
    bottom: 0;
    opacity: 1;
    top: unset; }
  .galleryimg .galleryimg:nth-child(2n) {
    overflow: visible; }
    .galleryimg .galleryimg:nth-child(2n) figcaption::after {
      content: "";
      height: 33%;
      border-left: 1px solid rgba(255, 255, 255, 0.7);
      position: absolute;
      left: -.5px;
      top: 33%; }
  .galleryimg img {
    -o-object-position: bottom;
    object-position: bottom; }
  .galleryimg:nth-child(3) img {
    -o-object-position: top;
    object-position: top; }
  .galleryimg:nth-child(5) img {
    -o-object-position: 30%;
    object-position: 30%; }
  .galleryimg:nth-child(6) img {
    -o-object-position: unset;
    object-position: unset; }
  .landscape,
  .portrait {
    width: 50%; } }

@media only screen and (max-width: 852px) {
  .servicesboxes {
    margin: 0;
    width: calc(50% - 40px); }
  .summarytext {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .summary .button {
    margin: 30px auto 0; }
  .summarychart {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 30px; }
  .summarynumbers {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: center;
    padding: 20px; }
  footer .centercontainer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    footer .centercontainer .footer1 {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
      footer .centercontainer .footer1 .footerobj:nth-of-type(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
    footer .centercontainer .footer2 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%; }
    footer .centercontainer .footer3 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }

@media only screen and (max-width: 768px) {
  .project .centercontainer {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .project .button {
    -ms-flex-preferred-size: calc(25% - 20px);
    flex-basis: calc(25% - 20px);
    margin: 0 10px; }
  .teamprofile {
    padding: 10px; }
  .blogpost {
    width: 90%; }
  footer .centercontainer .footer2 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; } }

@media only screen and (max-width: 600px) {
  footer .centercontainer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .centercontainer .footer1 {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    footer .centercontainer .footer2 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    footer .centercontainer .footer3 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

@media only screen and (max-width: 570px) {
  h2 {
    font-size: 2.8rem; }
  .featured {
    padding-bottom: 50px; }
    .featured .centercontainer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .featured .centercontainer .contained {
        max-width: 310px;
        margin: 0 auto; }
  .featuredvideo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 285px;
    margin: 70px auto 0;
    -webkit-transition: -webkit-box-shadow .5s;
    transition: -webkit-box-shadow .5s;
    -o-transition: box-shadow .5s;
    transition: box-shadow .5s;
    transition: box-shadow .5s, -webkit-box-shadow .5s; }
    .featuredvideo:hover {
      -webkit-box-shadow: 0 0 15px #f1f8fc;
      box-shadow: 0 0 15px #f1f8fc; }
    .featuredvideo video {
      display: none; }
    .featuredvideo .playvid {
      display: block;
      font-size: 3rem;
      font-weight: bolder;
      padding-right: 20px; }
    .featuredvideo .playbutton {
      position: relative;
      background-image: url(../assets/Icons/videoplayhover.svg); }
  .mission {
    padding-top: 40px; }
  .mission h2 {
    padding: 0 10px 20px; }
  .services .head_small {
    padding: 0 10px; }
  .servicesboxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    min-height: 160px; }
    .servicesboxes h3 {
      width: 80%;
      font-size: 1.5rem;
      -ms-flex-item-align: end;
      align-self: flex-end;
      padding: 0 0 5px 10px; }
  .serviceimg {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .summarytext {
    padding: 10px; }
  .summarytextcaption {
    text-align: justify; }
  .summarychart {
    margin: 0 0 30px; }
  .project .button {
    -ms-flex-preferred-size: calc(50% - 20px);
    flex-basis: calc(50% - 20px);
    margin: 10px 10px;
    max-width: unset; }
  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .stats .statscontainer {
      width: 100%; }
  .clientlogos {
    padding: 0 10px; }
    .clientlogos img {
      width: 75px;
      margin: 20px; }
  .contact .centercontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contactbox {
    width: 90%;
    margin: 0 auto; }
  .contactForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contactinput {
    width: 100%;
    margin-top: 5px; }
  .subscribebutton {
    width: 100%; }
    .subscribebutton button {
      width: 100%;
      margin: 5px 0; } }

@media only screen and (max-width: 556px) {
  .callbackinputs {
    width: 100%; } }

@media only screen and (max-width: 450px) {
  .summarynumbers {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 2rem; }
  .landscape,
  .portrait {
    width: 100%;
    height: 300px; }
    .landscape img,
    .portrait img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 15%;
      object-position: 15%; }
  .blogpost {
    width: 100%; } }

/*

	FOOTER

*/
.footer {
  text-align: left;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  line-height: 20px;
  padding: 70px 0 40px; }

.footer a {
  color: #ddd; }

.footer a:hover {
  color: #ed145b;
  text-shadow: 0 0 8px #000; }

.footerheader,
.footerheadermini {
  text-transform: uppercase;
  font-weight: 800; }

.footerheader {
  -ms-flex-line-pack: center;
  align-content: center;
  height: 60px;
  padding-top: 10px;
  font-size: .9rem; }

.footerheadermini {
  font-size: .8rem;
  line-height: 18px; }

.logofooter {
  max-width: 130px;
  height: 60px; }

.copyright {
  text-align: center;
  padding-bottom: 40px; }

.footer1,
.footer2,
.footer3 {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.footer2,
.footer3 {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.footerobj {
  margin: 5px 0; }

.footer .simplecontainer p {
  margin-right: 20px; }

.footersocialbuttons,
.times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footersocialbuttons {
  max-width: 100px;
  font-weight: initial; }

.footersocialbuttons a {
  color: #fff; }

.times {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 800;
  line-height: 25px; }

.hours {
  text-align: right; }

.tw-embedlogo {
  color: #fff;
  margin-right: 5px;
  padding-top: 6px;
  float: left;
  width: calc(20% - 20px); }

.tw-embed {
  float: left;
  width: 80%; }

.twitterhandle {
  color: #fff;
  font-weight: 800; }

@-webkit-keyframes navClickAnim {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); }
  50% {
    -webkit-transform: translate(-10px, 0) rotate(-90deg);
    transform: translate(-10px, 0) rotate(-90deg); }
  100% {
    -webkit-transform: translate(10px, 0) rotate(-90deg);
    transform: translate(10px, 0) rotate(-90deg); } }

@keyframes navClickAnim {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); }
  50% {
    -webkit-transform: translate(-10px, 0) rotate(-90deg);
    transform: translate(-10px, 0) rotate(-90deg); }
  100% {
    -webkit-transform: translate(10px, 0) rotate(-90deg);
    transform: translate(10px, 0) rotate(-90deg); } }

@-webkit-keyframes navClickAnimBar1 {
  0%,
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  45% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
    opacity: 1; }
  45.1%,
  100% {
    opacity: 0; } }

@keyframes navClickAnimBar1 {
  0%,
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  45% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
    opacity: 1; }
  45.1%,
  100% {
    opacity: 0; } }

@-webkit-keyframes navClickAnimBar2 {
  0%,
  49% {
    padding-top: 0px;
    background-position-y: 25px;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    padding-top: 35px;
    background-position-y: 25px;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px); }
  100% {
    padding-top: 35px;
    background-position-y: 0;
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px); } }

@keyframes navClickAnimBar2 {
  0%,
  49% {
    padding-top: 0px;
    background-position-y: 25px;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    padding-top: 35px;
    background-position-y: 25px;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px); }
  100% {
    padding-top: 35px;
    background-position-y: 0;
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px); } }

@-webkit-keyframes navClickAnimBar3 {
  0%,
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  45% {
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
    opacity: 1; }
  45.1%,
  100% {
    opacity: 0; } }

@keyframes navClickAnimBar3 {
  0%,
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  45% {
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
    opacity: 1; }
  45.1%,
  100% {
    opacity: 0; } }
